<?xml version="1.0"?>
<configuration xmlns="http://schemas.microsoft.com/.NetConfiguration/v2.0">
  <!-- This area contains the Services specific configuration properties YOU MUST SET THESE-->
  <appSettings>
    <!--
 Interactive ServiceBroker Web.Config -->
    <!-- 
    ProcessAgent required Keys -->
    <!-- THE FOLLOWING MUST BE SET FOR ALL SERVICES, used to define the service -->
    <!-- The following  keys specify the WebService required Values -->
    <!-- They are used by the SelfRegistration page to generate the ProcessAgent's
         Bootstrap ProcessAgent Record, which must be created before installing domain credientials -->
    <add key="service_Type" value="SERVICE BROKER" />
    <!-- The name of the Service displayed for the user, please change -->
    <add key="serviceName" value="Default iLab ServiceBroker" />
    <!-- This Service's GUID You must supply a vaild GUID, see createGUID.exe, may be any string, 50 characters or less. -->
    <add key="serviceGUID" value="" />
    <add key="codebaseURL" value="http://localhost/iLabWS" />
    <add key="serviceURL" value="http://localhost/iLabWS/" />
    <add key="defaultPasskey" value="Let me in!" />
    <!-- the database connection information 
    NOTE: You Must set the database catalog to the database name that you created as part of the instalation process -->
    <add key="sqlConnection" value="data source=(local);initial catalog=iLab_WS;Integrated Security=SSPI" />
    <!-- Optional path and filename for application log. The directory must exisit & be writeable to the IIS worker process -->
    <add key="logPath" value="" />
    <!-- ServiceBroker Specific Keys -->
    <!-- Cookie support for applets needed for .Net 2.0. This should only need to be changed if you host more than one SB per machine -->
    <add key="isbAuthCookieName" value="isbAuth" />
    <!-- CHANGE THIS TO LOCAL ADDRESS: email address where help requests are sent -->
    <add key="supportMailAddress" value="ilab-comment@mit.edu" />
    <!-- CHANGE THIS TO LOCAL ADDRESS: default email address where requests for membership in a group are sent.
	If the group has a contact address mail will be sent to that address -->
    <add key="registrationMailAddress" value="your_email@your_machine.edu" />
    <add key="genericFromMailAddress" value="your_email@your_machine.edu" />
    <!-- email address where bug reports are sent, this for the centralized bug tracking system at MIT. 
	Append a local mail address if you want to also recieve bug reports ( comma delimited ) -->
    <add key="bugReportMailAddress" value="ilab-bug@mit.edu" />
    <add key="bugReportOptions" value="System-wide error,Login,Group Issues,Grant Issues,UserInterface,Business logic" />
    <add key="helpOptions" value="General Help,Logging In,Running Lab,Page Specific Help" />
    <!-- Default value for Service Administration ticket (in seconds)-->
    <add key="serviceAdminTicketDuration" value="3600" />
    <!-- Default value for Service Administration ticket (in seconds)-->
    <add key="scheduleSessionTicketDuration" value="3600" />
    <!-- if TRUE a drop-down list will be used for affliation selection and display.
		If TRUE you must specify the affiliationOptions as a comma delimited string. 
		If False a TextBox will be used for affiliation input.-->
    <add key="useAffiliationDDL" value="true" />
    <add key="affiliationOptions" value="-- Make selection --,Student,Faculty/Staff,Guest,Other" />
    <!-- if true, the requestGroup page will add users to a special "request" group.
		They must then be added to the real group by an administrator.
		if false, user may add themselves directly to a group from the requestGroup page. -->
    <add key="adminRequestGroup" value="true" />
    <add key="haveSSL" value="false" />
    <add key="secureProtocol" value="https" />
    <add key="regularProtocol" value="http" />
  </appSettings>
  <system.diagnostics>
    <switches>
      <add name="defaultTrace" value="Off" />
    </switches>
  </system.diagnostics>
  <system.web>
    <webServices>
      <protocols>
        <remove name="HttpGet" />
        <remove name="HttpPost" />
      </protocols>
    </webServices>
    <!--  DYNAMIC DEBUG COMPILATION
          Set compilation debug="true" to enable ASPX debugging.  Otherwise, setting this value to
          false will improve runtime performance of this application. 
          Set compilation debug="true" to insert debugging symbols (.pdb information)
          into the compiled page. Because this creates a larger file that executes
          more slowly, you should set this value to true only when debugging and to
          false at all other times. For more information, refer to the documentation about
          debugging ASP .NET files.
    -->
    <compilation defaultLanguage="c#" debug="true" strict="false" explicit="true">
      <compilers>
        <compiler language="c#" type="Microsoft.CSharp.CSharpCodeProvider, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" extension=".cs" compilerOptions="/d:DEBUG;TRACE /w:0" />
      </compilers>
      <assemblies>
        <add assembly="System.Windows.Forms, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Design, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Security, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="stdole, Version=7.0.3300.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="Accessibility, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Data, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Web, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Web.Services, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Xml, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Configuration, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Drawing, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="NationalInstruments.TestStand.Interop.API, Version=4.1.0.228, Culture=neutral, PublicKeyToken=AD9244EB3B825CD8" />
        <add assembly="NationalInstruments.TestStand.Interop.UI.AxControls, Version=4.1.0.228, Culture=neutral, PublicKeyToken=AD9244EB3B825CD8" />
        <add assembly="NationalInstruments.TestStand.Interop.UI, Version=4.1.0.228, Culture=neutral, PublicKeyToken=AD9244EB3B825CD8" />
        <add assembly="NationalInstruments.TestStand.Interop.UI.Support, Version=4.1.0.228, Culture=neutral, PublicKeyToken=AD9244EB3B825CD8" />
      </assemblies>
    </compilation>
    <!--  CUSTOM ERROR MESSAGES
          Set customError mode values to control the display of user-friendly 
          error messages to users instead of error details (including a stack trace):

          "On" Always display custom (friendly) messages  
          "Off" Always display detailed ASP.NET error information.
          "RemoteOnly" Display custom (friendly) messages only to users not running 
          on the local Web server. This setting is recommended for security purposes, so 
          that you do not display application detail information to remote clients.
    -->
    <customErrors mode="RemoteOnly" />
    <!--  AUTHENTICATION 
          This section sets the authentication policies of the application. Possible modes are "Windows", "Forms", 
          "Passport" and "None"
    -->
    <authentication mode="Forms">
      <forms name="iLabSBCookie" loginUrl="default.aspx?login" />
    </authentication>
    <authorization>
      <deny users="?" />
    </authorization>
    <!--  APPLICATION-LEVEL TRACE LOGGING
          Application-level tracing enables trace log output for every page within an application. 
          Set trace enabled="true" to enable application trace logging.  If pageOutput="true", the
          trace information will be displayed at the bottom of each page.  Otherwise, you can view the 
          application trace log by browsing the "trace.axd" page from your web application
          root. 
    -->
    <trace enabled="false" requestLimit="10" pageOutput="true" traceMode="SortByTime" localOnly="true" />
    <!--  SESSION STATE SETTINGS
          By default ASP .NET uses cookies to identify which requests belong to a particular session. 
          If cookies are not available, a session can be tracked by adding a session identifier to the URL. 
          To disable cookies, set sessionState cookieless="true".
    -->
    <sessionState mode="InProc" stateConnectionString="tcpip=localhost:42424" sqlConnectionString="data source=127.0.0.1;user id=sa;password=" cookieless="false" timeout="120" />
    <!--  GLOBALIZATION
          This section sets the globalization settings of the application. 
    -->
    <globalization requestEncoding="utf-8" responseEncoding="utf-8" />
    <xhtmlConformance mode="Legacy" />
  </system.web>
  <location path="default.aspx">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="TestRegisterSelf.aspx">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="home.aspx">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="about.aspx">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="login.aspx">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="register.aspx">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="lostpassword.aspx">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="help.aspx">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="reportBug.aspx">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="BasicLabServer.asmx">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
</configuration>